/* .App {
  background-color: slategray;
} */

.img {
  height: 100%;
  max-width: 260px;
  /* height: 15rem; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
